<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
			<pattern>
            {
                "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}",
                "message": "%message",
                "logger_name": "%logger",
                "thread_name": "%thread",
                "level": "%level"
            }
			</pattern>
          </pattern>
  		  </providers>
        </encoder>
    </appender>

    <logger name="org.apache.camel" level="DEBUG"/>
	<logger name="me.snov.sns" level="DEBUG" /> 
	<logger name="org.apache.pekko" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
